<a href="https://colab.research.google.com/github/21PA1A6137/numpy_practice/blob/main/student_details.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv('/content/drive/MyDrive/student_details.csv')
df.head()

,Roll No,Gender,Section,SSC Percentage,inter_Diploma_percentage,B.Tech_percentage,Backlogs,registered_for_ Placement_Training,placement status
0,1,M,A,87.3,65.3,40.00,18,NO,Not placed
1,2,F,A,89.0,92.4,21.20,0,yes,Placed
2,3,F,A,67.0,40.2,NaN,13,yes,Not placed
3,4,M,A,71.0,70.4,36.47,17,yes,Not placed
4,5,M,A,44.0,65.5,42.52,17,yes,Not placed

In [3]:
# basic characteristics of data

df.describe()

,Roll No,SSC Percentage,inter_Diploma_percentage,B.Tech_percentage,Backlogs
count,117.000000,116.000000,117.000000,116.000000,117.000000
mean,59.000000,80.153362,80.535299,62.662672,4.111111
std,33.919021,9.462320,11.818567,12.591167,6.335148
min,1.000000,44.000000,40.200000,21.200000,0.000000
25%,30.000000,75.875000,73.400000,54.175000,0.000000
50%,59.000000,82.745000,83.600000,63.885000,0.000000
75%,88.000000,87.025000,90.000000,72.570000,7.000000
max,117.000000,93.660000,96.900000,88.100000,25.000000

In [4]:
# check for the missing values


df.isna().any()

Roll No                               False
Gender                                False
Section                               False
SSC Percentage                         True
inter_Diploma_percentage              False
B.Tech_percentage                      True
Backlogs                              False
registered_for_ Placement_Training     True
placement status                      False
dtype: bool

In [5]:
df['SSC Percentage']

0      87.3
1      89.0
2      67.0
3      71.0
4      44.0
       ...
112    81.1
113    81.3
114    83.5
115    85.5
116    80.0
Name: SSC Percentage, Length: 117, dtype: float64

In [ ]:
df['SSC Percentage'].fillna(80.153362,inplace=True)

In [13]:
new_data = df['SSC Percentage']
new_data.dropna(inplace=True)
j=0
for i in new_data:
  j+=i
print(j/len(new_data))

80.1533620689655

In [ ]:
# replacing the missing values